body {
    background: linear-gradient(135deg, #987c61 0%, #987c61 20%, #bf9b7a 20%, #bf9b7a 40%, #987c61 40%, #987c61 60%, #bf9b7a 60%, #bf9b7a 80%, #987c61 80%, #987c61 100%);
    /* background-size: 35px 20px; /* Dimensioni delle "venature" del legno */
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}